@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,600;0,700;1,400&display=swap');

* {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
}

body {
  margin: 0;
  --main-background-color: #F5F5F5;
  --secondary-background-color: white;
  --text-primary-color: #1B1F23;
  --text-secondary-color: white;
  --interactive-primary-color: #FF5500;
  --interactive-secondary-color: #FFA375;
  --tertiary-background-color: #333333;
}

button {
  cursor: pointer;
  padding: 0;
}