.mainBlock {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: fit-content;
  gap: 8px;
}

.quantity {
  font-weight: 600;
  font-size: 20px;
  color: var(--text-primary-color);
}